<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!--<listeners>
    <listener class-name="TestListener"></listener>
    </listeners>-->
    <test verbose="2" preserve-order="true" name="Pecode test login">
        <classes>
            <class name="LoginPageTest"></class>
        </classes>
    </test>
</suite>